/* Menus component styles */
::ng-deep .ant-menu {
  background-color: var(--color-bg-menu) !important;
}

::ng-deep .ant-menu-item {
  background-color: transparent !important;
}

::ng-deep .ant-menu-item:hover {
  background-color: var(--color-bg-menu-hover) !important;
}

::ng-deep .ant-menu-submenu-title:hover {
  background-color: var(--color-bg-menu-hover) !important;
}

::ng-deep .ant-menu-item-selected {
  background-color: var(--color-bg-menu-selected) !important;
  color: var(--color-primary) !important;
}
